# DML

First connect to the database 'DS2':

In [ ]:
-- connection: host='localhost' dbname='ds2' user='ds2'

----------------------------------------------------------------------------

* Affichez le contenu de la table 'categories'

In [ ]:
SELECT category,categoryname FROM ds2.categories;

In [ ]:
SELECT * FROM categories;

* Découvrez le contenu de la table 'products' en limitant au 100 premiers (de 2 manières différentes)

In [ ]:
SELECT * FROM products
FETCH FIRST 100 ROWS ONLY;

In [ ]:
SELECT * FROM products
LIMIT 100;

* Combien y-a-t'il de produits avec des acteurs prénomés _'JOHNNY'_ ?

In [ ]:
SELECT COUNT(*)
FROM products
WHERE actor LIKE 'JOHNNY%';

* De combien d'états viennent les utilisateurs ?

In [ ]:
SELECT count(DISTINCT state) 
FROM customers;

* Donnez le revenu moyen des clients

In [ ]:
SELECT avg(income)
FROM customers;

* Comptez combien de clients ont entre _65_ et _75_ ans (_et leur age moyen_)

In [ ]:
SELECT count(*), avg(age)
FROM customers
WHERE age > 65 AND age < 75;

* Y-a-t'il des clients qui n'ont pas renseigné leur sexe ?

In [ ]:
SELECT *
FROM customers
WHERE gender IS NULL;

* Donnez le nombre de commandes par pays, trié par nombre de commandes (_descendant_)

In [ ]:
SELECT country, count(*)
FROM orders, customers
WHERE orders.customerid=customers.customerid
GROUP BY country
ORDER BY count(*) DESC;

* Créer la table 'a_customers' vide en exécutant le code suivant :

In [ ]:
DROP TABLE IF EXISTS a_customers; 
CREATE TABLE a_customers AS (SELECT * FROM customers) WITH NO DATA;

* Insérer dans la table 'a_customers' les utilisateurs habitant dans des états commençant par la lettre 'A'

In [ ]:
INSERT INTO a_customers 
SELECT * FROM customers
WHERE state LIKE 'A%';

* Réforme administrative, tous les ZIP code de l'Alabama ont la même valeur 99999.

In [ ]:
UPDATE a_customers
SET zip = '99999'        -- ATTENTION COLONNE DE TYPE varchar(9)
WHERE state = 'AL';

* Cadeau de __MasterCard__, les utilisateurs ayant une carte de crédit de type 3 touchent 100 de plus.

In [ ]:
UPDATE a_customers
SET income = income + 100
WHERE creditcardtype = 3;

* Supprimez de la table 'a_customers' les clients de l'arizona.

In [ ]:
DELETE FROM a_customers
WHERE state = 'AR';

* Videz la table par une des 2 méthodes vues en cours.

In [ ]:
DELETE FROM a_customers;

* Re remplissez la table avec les même données et videz-la avec l'autre méthode.

In [ ]:
DROP TABLE IF EXISTS a_customers; 
CREATE TABLE a_customers AS (SELECT * FROM customers) WITH DATA;

In [ ]:
TRUNCATE a_customers;